/* @import "tailwindcss"; */


.rating svg{
    color:gold;
}

.rating-text{
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 0.4rem;
}

.product-title{
    height: 2.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}